.bonus.Block
	h3 Дополнительные инструменты и умения
	.stack
		.leftBonus
			.OneBonus
				.IconBonus
					include svg/lesx.svg
				+skill('Less', 
					'Упрощает и ускоряют вёрстку, с ним создание сайтов  выходит на новый уровень')
			.TwoBonus
				.IconBonus
					include svg/pux.svg
				+skill('PUG', 
					'Шаблонизатор для HTML, который отлично увеличивает продуктивность') 
				
		.reightBonus
			.ThreeBonus
				.IconBonus
					include svg/wordpresx.svg
				+skill('WordPress', 
					'Даёт возможность клиенту самостоятельно настраивать содержимое сайта')
			.FourBonus
				.IconBonus
					include svg/gulx.svg	
				+skill('Gulp', 
					'Сборщик проектов для Less и PUG, так же он оптимизирует рутинные задачи')